<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bokeh</title>
</head>
<body> 
    {{div| safe}}
</body>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-2.2.1.min.js"></script> 
    {{script | safe}}
</html>
